* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	background: url(stripes.png), linear-gradient(rgb(209, 255, 107) 10%,rgb(0, 0, 0) 100%);
	background-attachment: fixed;
	background-size: cover;
}

html {
	font-family: 'Open Sans', sans-serif;
}

header {
	background: white;
	text-align: center;
	height: 100%;
	padding-top: 50%;
	padding-top: 50vh;
	margin-top: -50px;
}

header div#logo {
	font-family: Quicksand, sans-serif;
	margin: -100px 0 30px;
	font-size: 100px;
	font-weight: 300;
	color: #777;
}

header div#logo span {
	color: rgb(207, 224, 169);
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li a {
	padding: 20px;
	color: #8cb52f;
	text-decoration: none;
	font-size: 20px;
}

nav ul li a:hover {
	color: #d5eaa8;
}

nav ul li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

article h2 {
	margin-top: -175px;
}

article.transparent {
	background: transparent !important;
	box-shadow: none !important;
	z-index: -1;
}

header, article {
	box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
	position: relative;
}

article {
	min-height: 100%;
	background: white;
	padding: 80px;
	margin-top: 100px;
}

article#slogan {
	padding-top: 35%;
	padding-top: 50vh;
}

article#slogan h1 {
	margin: 0;
	padding: 0;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
	font-weight: 800;
	font-size: 60px;
}

h2 {
	text-align: right;
	font-family: quicksand;
	font-weight: 300;
	font-size: 70px;
	margin: 10px 0 50px;
	color: white;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.37);
	old-color: rgb(207, 224, 169);
}

h3, h4, h5 {
	font-weight: 100;
	font-family: quicksand;
	color: rgb(151, 162, 128);
	margin: 60px 0 10px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 35px;
}

h5 {
	font-size: 30px;
}

h2 a {
	color: white;
	text-decoration: none;
}

i.arrow-down {
	display: block;
	position: absolute;
	z-index: 1;
	right: 200px;
	bottom: 80px;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #efefef;
}

i.arrow-down:hover {
	border-top: 20px solid #ddd;
}

i.arrow-down:hover:after {
	display: block;
	position: absolute;
	top: -20px;
	left: 10px;
	color: #ddd;
	content: "Try scrolling down";
	font-style: normal;
	width: 180px;
}

a.arrow-up {
	display: block;
	position: absolute;
	z-index: 1;
	right: 40px;
	top: 40px;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #efefef;
}

a.arrow-up:hover {
	border-bottom: 20px solid #ddd;
}

a.arrow-up:hover:after {
	text-align: right;
	display: block;
	position: absolute;
	right: 30px;
	color: #ddd;
	content: "Back to the menu";
	font-style: normal;
	width: 180px;
}

a.arrow-up i {
	display: none;
}

pre code {
	border: solid 10px rgb(252, 252, 252);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	padding: 1em !important;
}

aside {
	background: rgb(252, 252, 242);
	border: solid 10px rgb(248, 248, 239);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	margin: 20px;
	opacity: 0.5;
	padding: 1em 2em !important;
}

aside:hover {
	opacity: 1;
}

aside.left {
	float: left;
}

aside.right {
	float: right;
}

